@media screen and (width <= 900px){
    .navigation-menu .buy-btn-container{
        margin-right: 0px;
    }
}

@media screen and (min-width: 769px){
    .header .navigation-menu .list{
        display: flex;
    }

    .most-requested {
        grid-template-columns: repeat(2, 1fr);
      }
}

@media screen and (max-width: 768px) {
    .header{
        position: fixed;
        z-index: 1;
    }

    .navigation-menu .list{
        display: none;
        align-items: center;
    }

    .navigation-menu .list li{
        padding: 10px 0;
    }
 
    .hamburger-menu {
        display: block;
    }

    #hero{
        flex-direction: row;
        justify-content: space-between;
    }

    #hero .text-hero{
        font-size: 28px;
    }


    #gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #gallery .gallery-item{
        width: 100%;
        height: 45%;
    }

    #gallery .gallery-item:last-child{
        display: none;
    }

    #gallery .gallery-item p{
        font-size: 1rem;
    }

    #gallery .gallery-item h4{
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 480px) {
    .header {
        flex-direction: column;
        height: auto;
    }

    .navigation-menu {
        margin-top: 10px;
    }

    .navigation-menu .list {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 408px){
    .order-card img{
        width: 100%;
    }
}

@media screen and (max-width: 342px){
    #hero .text-hero{
        display: none;
    }
}

@media screen and (max-width: 286px){
    .header #logo a span{
        display: none;
    }

    #hero .text-hero{
        display: none;
    }
}
