.header {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px 20px;
    color: #ffff;
}

.header #logo .img-logo{
    width: 150px;
}

#hero img{
    width: 100%;
}