.header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px 20px;
    width: 100vw;
    font-family: "Poppins", sans-serif;
}

a{
    color: var(--white);
    text-decoration: none;
}

.btn{
    cursor: pointer;
    border: none;
}

.header #logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header #logo a, #hero .text-hero, 
.order-container h2{
    font-family: "Alfa Slab One", serif;
}

.header #logo .img-logo{
    width: 120px;
}

.header .navigation-menu .list{
    gap: 20px;
    display: none;
    list-style: none;
}

.header .navigation-menu .list li a{
    position: relative;
}

.navigation-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navigation-menu .buy-btn-container{
    margin-right: 4rem;
}

.navigation-menu, .buy-btn-container .btn{
    letter-spacing: 2px;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.navigation-menu .buy-btn-container .btn{
    padding: 0.8rem 2rem;
    background: linear-gradient(90deg, transparent 50%, var(--white) 50%);
    background-size: 200% 100%;
    background-color: var(--bg-header);
    color: var(--white);
    border-radius: 0.3rem;
    font-weight: 600;
    transition: background-size 0.4s, color 0.4s;

}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-icon {
    width: 25px;
}

#hero{
    background-image: url("../images/background-header.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
}

.image-area img{
    width: 100%;
}

.section-container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 1rem;
}

#gallery{
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "large large small1"
    "large large small2"
    ;
    height: 600px;
    text-transform: uppercase;

}   

#gallery .gallery-item{
    padding: 1rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    font-family: "Poppins", sans-serif;
    color: var(--white);
}

#gallery .gallery-item:nth-child(1){
    grid-area: large;
    background-image: url("../images/hamburger-1.png");
}

#gallery .gallery-item:nth-child(2){ 
    grid-area: small1;
    background-image: url("../images/hamburger-2.jpeg");
}

#gallery .gallery-item:nth-child(3){
    grid-area: small2;
    background-image: url("../images/hamburger-3.jpg");
}

#gallery .gallery-item p, #gallery .gallery-item h4{
    width: 300px;
}

#gallery .gallery-item p{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

#gallery .gallery-item h4{
    font-size: 2rem;
}

#hero .text-hero{   
    width: 500px;
    font-size: 2rem;
    text-transform: uppercase;
    margin-left: 40px;
    color: var(--white);
}


.order-container h2 {
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 2px 2px var(--contrast);
    font-size: 3rem;
    text-transform: uppercase;
}
  
.order-container p {
    margin-bottom: 2rem;
    text-align: center;
}
  
.most-requested {
    display: grid;
    gap: 2rem 1rem;
}

.most-requested, p{
    font-family: "Poppins", sans-serif;
}

  
.order-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    transition: 0.3s;
}


.order-card .btn{
    margin-top: auto;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--bg-header);
    transition: 0.3s;
}

.order-card .btn:hover {
    background-color: var(--primary-color);
  }

.order-card:hover {
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}
  
.order-card img {
    max-width: 350px;
    margin-inline: auto;
    margin-bottom: 2rem;
    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.3));
}
  
.order-card h4 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-dark);
}
  
.order-card p {
    margin-bottom: 2rem;
    font-weight: 500;
    color: var(--text-dark);
    line-height: 1.75rem;
}

.navigation-menu .list.show{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    padding: 20px;
}

.navigation-menu .list.show li {
    margin-bottom: 10px;
}

.navigation-menu .list a:hover{
    color: var(--bg-header);
    transition: 0.3s;
}

.navigation-menu .list a:hover::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: var(--bg-header);
}

.buy-btn-container .btn:hover{
    background-position: 100% 0%;
    color: var(--primary-color);

}


footer{
    background-color: var(--primary-color);
    color: var(--white);
    padding: 10px;
}