.header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px 20px;
    width: 100vw;
}

a{
    color: var(--white);
    text-decoration: none;
}

.header #logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header #logo a, #hero .text-hero{
    font-family: "Alfa Slab One", serif;

}


.header #logo .img-logo{
    width: 120px;
}

.header .navigation-menu .list{
    gap: 20px;
    display: none;
    list-style: none;
    font-family: "Poppins", sans-serif;

}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-icon {
    width: 25px;
}

#hero img{
    width: 100%;
    height: 100vh;
}

.section-container {
    max-width: 900px;
    margin: auto;
    padding: 5rem 1rem;
}

#gallery{
    display: grid;
    gap: 1rem;
    grid-template-areas: 
    "large large small1"
    "large large small2"
    ;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 600px;
    text-transform: uppercase;

}   

#gallery .gallery-item{
    padding: 1rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    font-family: "Poppins", sans-serif;
    color: var(--white);
}

#gallery .gallery-item:nth-child(1){
    grid-area: large;
    background-image: url("../images/hamburger-1.png");
}

#gallery .gallery-item:nth-child(2){ 
    grid-area: small1;
    background-image: url("../images/hamburger-2.jpeg");
}

#gallery .gallery-item:nth-child(3){
    grid-area: small2;
    background-image: url("../images/hamburger-3.jpg");
}

#gallery .gallery-item p, #gallery .gallery-item h4{
    width: 300px;
}

#gallery .gallery-item p{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

#gallery .gallery-item h4{
    font-size: 2rem;
}

#hero .text-hero{   
    width: 450px;
    font-size: 2rem;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: #ffff;
}

.navigation-menu .list.show{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #2f190e;
    width: 100%;
    padding: 20px;
}

.navigation-menu .list.show li {
    margin-bottom: 10px;
}

.navigation-menu .list a:hover{
    color: red;
}

#about{
    text-align: center;
}

footer{
    background-color: #2f190e;
    color: #ffff;
    padding: 10px;
}